{% extends "layout.html" %} 
{% block title %}Página no encontrada {%endblock %}
{% block content %}

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center white-text">Ups... Parece que eso no funcionó</h1>
            <div class="row center">
                <h5 class="header col s12 white-text text-darken-2">Regresar a la página principal
                </h5>
            </div>
            
            <div class="row center">
                <a href="{{ url_for('main.index') }}" id="download-button"
                    class="btn-large waves-effect waves-light orange accent-4">Regresar</a>
            </div>

        </div>
    </div>
    <div class="parallax"><img src="../static/img/background7.jpg" alt="Unsplashed background img 1"></div>
</div>
{% endblock %}