{% extends "layout.html" %}
{% block title %} Inicio {%endblock %}
{% block content %}

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            {%if admin or empleado %}
            <h1 class="header center white-text">PizzaDev</h1>
            <div class="row center">
                <h5 class="header col s12 white-text text-darken-2">Bienvenido {{name}}
                </h5>
            </div>
            {%endif%}
            {%if cliente or not current_user.is_authenticated%}
            <h1 class="header center white-text">PizzaDev</h1>
            <div class="row center">
                <h5 class="header col s12 white-text text-darken-2">Las mejores pizzas en la comunidad UTL. ¡Ordena ya!.
                </h5>
            </div>

            <div class="row center">
                <a href="{{ url_for('main.menu') }}" id="download-button"
                    class="btn-large waves-effect waves-light orange accent-4">Ordenar</a>
            </div>
            {%endif%}

        </div>
    </div>
    <div class="parallax"><img src="../static/img/background7.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s4">
                <div class="icon-block">
                    <h2 class="center orange-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">MISIÓN</h5>

                    <p style="text-align: justify; font: bold;">Ofrecer a nuestros comensales la variedad perfecta de pizzas, pastas y ensaladas en
                        la comodidad de su casa, su evento o en nuestros restaurantes. Siempre elaborando artesanalmente
                        nuestros platillos con ingredientes frescos, de calidad y con un toque de amor. </p>
                </div>
            </div>

            <div class="col s4">
                <div class="icon-block">
                    <h2 class="center orange-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">VISIÓN</h5>

                    <p style="text-align: justify; font: bold;">Ser una empresa reconocida como una de las mejores pizzas dentro de la zona
                        metropolitana de León, satisfaciendo las necesidades de nuestros clientes ya sea en los
                        restaurantes o en los pedidos que realizan.
                    </p>
                </div>
            </div>

            <div class="col s4">
                <div class="icon-block">
                    <h2 class="center orange-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">VALORES</h5>
                    <p >
                        🟠 Comunicación: Escuchar antes de reaccionar, para generar un buen ambiente de trabajo
                    </p>
                    <p>
                        🟠 Impacto: Enfoque a resultados.
                    </p>
                    <p>
                        🟠 Disciplina: Profesionalismo, puntualidad y respeto.
                    </p>
                    <p>
                        🟠 Innovación: Mejorar, crear.
                    </p>
                    <p>
                        🟠 Valentía: Tomar decisiones asumir riesgos inteligentes.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
            </div>
        </div>
    </div>
    <div class="parallax"><img src="../static/img/background13.jpg" alt="Unsplashed background img 2"></div>
</div>

{%if cliente %}
<div class="container">
    <div class="section">
        <div class="row">

            <div class="col s6 center">
                <div class="row">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="input-field col s6">
                                    <i class="orange-text text-darken-4 material-icons prefix">person</i>
                                    <input class="validate" name="text" id="text" type="text">
                                    <label for="text" data-error="wrong" data-success="right">Nombre</label>
                                </div>
                                <div class="input-field col s6">
                                    <i class="orange-text text-darken-4 material-icons prefix">mail_outline</i>
                                    <input class="validate" name="email" id="email" type="email">
                                    <label for="email" data-error="wrong" data-success="right">Correo</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <i class="orange-text text-darken-4 material-icons prefix">phone</i>
                                    <input class="validate" name="text" id="text" type="text">
                                    <label for="text" data-error="wrong" data-success="right">Teléfono</label>
                                </div>
                                <div class="input-field col s6">
                                    <i class="orange-text text-darken-4 material-icons prefix">edit</i>
                                    <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                                    <label for="icon_prefix2">Mensaje</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <button class="btn waves-effect waves-red orange accent-4 btn-large" type="submit"
                                        name="action">Enviar
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s6">
                <div class="card" style="background:black;">
                    <div class="card-image imagenes">
                        <img alt="Unsplashed background img 2" src="../../static/img/background8.jpg" height="365px">
                        <span class="card-title orange darken-4">Contacto</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 white-text text-darken-2">
                </h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="../static/img/background12.jpg" alt="Unsplashed background img 3"></div>
</div>
{%endif%}
{% endblock %}