<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadatos -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">

    <title>PizzaDev | {% block title %}
        {% endblock %}</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../static/materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="shortcut icon" href="../static/img/pizzaDevSolo.png" />

    <!--  Scripts-->
    <script src="../static/materialize/js/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <!-- Sweetalert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Scripts funciones-->
    <script src="../static/materialize/js/init.js"></script>
    <script>window.jQuery || document.write('<script src="../static/materialize/js/jquery-3.6.0.min.js">x3C/script>');</script>

</head>


<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="{{ url_for('main.index') }}" class="orange-text brand-logo">PizzaDev</a>
            {%if current_user.is_authenticated %}
            <ul class="right hide-on-med-and-down">
                <li>
                    <a class='dropdown-trigger' href='#' data-target='dropdown1'>
                        <i class="material-icons prefix">person</i>
                    </a>
                </li>
            </ul>
            <ul id='dropdown1' class='dropdown-content'>
                <li><a href="{{ url_for('main.perfil') }}" class="orange-text">Mi perfil</a></li>
                {%if cliente%}
                <li><a href="{{ url_for('main.pedidos') }}" class="orange-text">Mis ordenes</a></li>
                {%endif%}
                <li><a href="{{ url_for('auth.logout') }}" class="orange-text">Salir</a></li>

            </ul>
            {%if cliente %}
            <ul class="right hide-on-med-and-down">
                <li class="material-icons prefix black-text"><a class="modal-trigger" href="#modal1">
                    <i class="material-icons prefix">shopping_cart</i>
                    </a>
                </li>
            </ul>
            {%endif%}

            {%endif%}
            {%if not current_user.is_authenticated %}
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('auth.login_users') }}">
                        Iniciar sesión
                    </a>
                </li>
            </ul>
            {%endif%}
            {%if admin%}
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('admin.usuario') }}">Usuarios</a></li>
            </ul>
            {%endif%}
            {%if not current_user.is_authenticated %}
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="{{ url_for('auth.register_user') }}" class="navbar-item">
                        <i class="material-icons prefix">contacts</i></a></li>
                    </a>
                </li>
            </ul>

            {%endif%}
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('main.index') }}"><i class="material-icons prefix">home</i></a></li>
            </ul>
            {%if cliente%}
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="{{ url_for('main.menu') }}">
                        <i class="material-icons prefix">local_pizza</i></a></li>
                    </a>
                </li>
            </ul>
            {%endif%}
            {%if current_user.is_authenticated %}
            {%if empleado%}
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('admin.ventas') }}" class="navbar-item">
                        Ventas
                    </a>
                </li>
            </ul>
            {%endif%}
            {%if empleado%}
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('empleado.proveedores') }}" class="navbar-item">
                        Proveedores
                    </a>
                </li>
            </ul>
            {%endif%}
            {%if empleado%}
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('empleado.inventario') }}" class="navbar-item">
                        Inventario
                    </a>
                </li>
            </ul>

            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('empleado.recetario') }}" class="navbar-item">
                        Recetario
                    </a>
                </li>
            </ul>
            {%endif%}

            {%endif%}

            <!-- Mobile navbar-->


            <ul id="nav-mobile" class="sidenav">
                {%if current_user.is_authenticated %}
                <li> <a class='dropdown-trigger' href='#' data-target='dropdown2'><i
                            class="material-icons prefix">person</i>Usuario</a></li>
                {%endif%} {%if not current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.login_users') }}">
                        Iniciar sesión
                    </a>
                </li>
                {%endif%}

                <li>
                    <a href="{{ url_for('main.menu') }}">
                        Menu
                    </a>
                </li>

                <li><a href="{{ url_for('main.index') }}">Inicio</a></li>

                {%if current_user.is_authenticated %}
                {%if empleado%}
                <li><a href="{{ url_for('admin.ventas') }}">
                        Ventas
                    </a>
                </li>
                {%endif%}
                {%if empleado%}
                <li><a href="{{ url_for('empleado.inventario') }}">
                        Inventario
                    </a>
                </li>
                {%endif%}
                {%if cliente%}
                <li><a href="{{ url_for('main.menu') }}">
                        Menú
                    </a>
                </li>
                {%endif%}
                {%endif%}
            </ul>
            <ul id="dropdown2" class="dropdown-content">
                <li><a href="#">{{name}}</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Salir</a></li>

            </ul>

            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
        <script>
            var toastHTML = '<span>{{ messages[0] }}</span>';
            var inDuration = 100;
            M.toast({ html: toastHTML, inDuration });
        </script>
    </div>
    {% endif %}
    {% endwith %}
    <main class="container">
        {% block content %} {% endblock %}
    </main>


    <footer class="page-footer orange darken-4">
        <div class="container">
            <div class="row">
                <div class="col l8 s12">
                    <h5 class="white-text">PizzaDev</h5>
                    <p class="grey-text text-lighten-4">Nos ubicamos en León, Guanajuato en donde desde hace 25 años
                        hemos satisfecho el apetito de nuestros clientes con comida preparada al momento con
                        ingredientes frescos y de calidad. Gracias a ello, nos hemos ganado la preferencia del
                        público que busca un delicioso sabor.</p>


                </div>
                <div class="col l4 s12">
                    <h5 class="white-text">Ubícanos</h5>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.236796297834!2d-101.58337303459726!3d21.06320254197643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1079df76c4bd098d!2sCafeter%C3%ADa%20UTL!5e0!3m2!1ses-419!2smx!4v1616572910471!5m2!1ses-419!2smx"
                        max-width="600" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Copyright MaCrobios &reg; 2021</a>
            </div>
        </div>
    </footer>
</body>

<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Actualizar Dirección</h4>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">description</i>
                <input class="validate" name="txtCalle_" id="txtCalle_" type="text" placeholder="Calle">
                <label for="desc" data-error="wrong" data-success="right">Calle</label>
            </div>

            <div class="input-field col s6">
                <i class="material-icons prefix">description</i>
                <input class="validate" name="txtColonia_" id="txtColonia_" type="text" placeholder="Colonia">
                <label for="desc" data-error="wrong" data-success="right">Colonia</label>
            </div>

            <div class="input-field col s6">
                <i class="material-icons prefix">class</i>
                <input class="validate" name="txtDescripcion_" id="txtDescripcion_" type="text"
                    placeholder="Descripción">
                <label for="text" data-error="wrong" data-success="right">Descripción</label>
            </div>


            <div class="input-field col s6">
                <i class="material-icons prefix">attach_money</i>
                <input class="validate" name="txtNumInt_" id="txtNumInt_" type="text" placeholder="Num.interior">
                <label for="text" data-error="wrong" data-success="right">Número Int</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">shopping_basket</i>
                <input class="validate" name="txtNumExt_" id="txtNumExt_" type="text" placeholder="Num.Exterior">
                <label for="text" data-error="wrong" data-success="right">Número Ext</label>
            </div>


            <div class="input-field col s6">
                <i class="material-icons prefix">date_range</i>
                <input class="validate" type="text" id="txtCP_" name="txtCP_" class="datepicker" placeholder="C.P">
                <label for="text" data-error="wrong" data-success="right">C.P</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-light red btn modal-close" id="closebtn" type="submit" name="action">
            <i class="material-icons">cancel</i>
        </a>
        <a class="waves-effect waves-light green btn modal-trigger" id="updateBtn" type="submit" name="action">
            <i class="material-icons">send</i>
        </a>
    </div>
</div>

</html>