<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="../static/img/background1.jpg" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PizzaDev | IDGS801</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../static/materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

    <!--  Scripts-->
    <script src="../static/materialize/js/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    
    <!-- Sweetalert -->
    <link rel="stylesheet" href="sweetalert2.min.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Scripts funciones-->
    <script src="../static/materialize/js/init.js"></script>
</head>

<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="{{ url_for('main.index') }}" class="orange-text brand-logo">PizzaDev</a>
            {%if current_user.is_authenticated %}
            <ul class="right hide-on-med-and-down">
                <li> <a class='dropdown-trigger' href='#' data-target='dropdown1'><i
                            class="material-icons prefix">person</i></a></li>
            </ul>
            <ul id='dropdown1' class='dropdown-content'>
                <li><a href="#"  class="orange-text">Mi perfil</a></li>
                {%if cliente%}
                <li><a href="#"  class="orange-text">Mis ordenes</a></li>
                {%endif%}
                <li><a href="{{ url_for('auth.logout') }}" class="orange-text">Salir</a></li>

            </ul>
            {%endif%}

            {%if not current_user.is_authenticated %}
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('auth.login_users') }}" class="navbar-item">
                        Iniciar sesión
                    </a>
                </li>
            </ul>
            {%endif%}
            {%if not current_user.is_authenticated %}
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="{{ url_for('auth.register_user') }}" class="navbar-item">
                        Registro
                    </a>
                </li>
            </ul>

            {%endif%}
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('main.index') }}">Inicio</a></li>
            </ul>
            {%if cliente%}
            <ul class="right hide-on-med-and-down">
                <li><a href="">Ordenar</a></li>
            </ul>
            {%endif%}

            {%if current_user.is_authenticated %}
            {%if empleado%}
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('admin.ventas') }}" class="navbar-item">
                        Ventas
                    </a>
                </li>
            </ul>
            {%endif%}
            {%if empleado%}
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('empleado.inventario') }}" class="navbar-item">
                        Inventario
                    </a>
                </li>
            </ul>
            {%endif%}
            {%if cliente%}
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('main.ventas') }}" class="navbar-item">
                        Ventas
                    </a>
                </li>
            </ul>
            {%endif%}



            {%endif%}

            <!-- Mobile navbar-->


            <ul id="nav-mobile" class="sidenav">
                {%if current_user.is_authenticated %}
                <li> <a class='dropdown-trigger' href='#' data-target='dropdown2'><i
                            class="material-icons prefix">person</i>Usuario</a></li>
                {%endif%}

                {%if not current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.login_users') }}">
                        Iniciar sesión
                    </a>
                </li>
                {%endif%}

                <li><a href="{{ url_for('main.index') }}">Inicio</a></li>
                <li><a href="">Ordenar</a></li>

                {%if current_user.is_authenticated %}
                {%if empleado%}
                <li><a href="{{ url_for('admin.ventas') }}">
                        Ventas
                    </a>
                </li>
                {%endif%}
                {%if empleado%}
                <li><a href="{{ url_for('empleado.inventario') }}">
                        Inventario
                    </a>
                </li>
                {%endif%}
                {%if cliente%}
                <li><a href="{{ url_for('main.ventas') }}">
                        Ventas
                    </a>
                </li>
                {%endif%}
                {%endif%}
            </ul>
            <ul id="dropdown2" class="dropdown-content">
                <li><a href="#">{{name}}</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Salir</a></li>

            </ul>

            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>


    <footer class="page-footer orange darken-4">
        <div class="container">
            <div class="row">
                <div class="col l8 s12">
                    <h5 class="white-text">PizzaDev</h5>
                    <p class="grey-text text-lighten-4">Nos ubicamos en León, Guanajuato en donde desde hace 25 años
                        hemos satisfecho el apetito de nuestros clientes con comida preparada al momento con
                        ingredientes frescos y de calidad. Gracias a ello, nos hemos ganado la preferencia del público
                        que busca un delicioso sabor.</p>


                </div>
                <div class="col l4 s12">
                    <h5 class="white-text">Ubícanos</h5>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.236796297834!2d-101.58337303459726!3d21.06320254197643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1079df76c4bd098d!2sCafeter%C3%ADa%20UTL!5e0!3m2!1ses-419!2smx!4v1616572910471!5m2!1ses-419!2smx"
                        max-width="600" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Copyright MaCrobios &reg; 2021</a>
            </div>
        </div>
    </footer>



</body>

</html>