{% extends "layout.html" %} {% block content %}

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center white-text">PizzaDev</h1>
            <div class="row center">
                <h5 class="header col s12 white-text text-darken-2">Las mejores pizzas de la comunidad en este menu.
                </h5>
            </div>
            <div class="row center">
                <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange accent-4">Ordenar</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="../static/img/background1.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img img src="../static/img/background3.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>pizza LE PEPERONE</p>
                        <p>pizza de peperoni, cebollin, aceitunas negras y perejil</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Editar
                            <i class="material-icons left">edit</i>
                        </a>
                    </div>
                    <div class="card-action">
                        <a href="#">Eliminar
                            <i class="material-icons left">delete</i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img img src="../static/img/background3.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>pizza LE PEPERONE</p>
                        <p>pizza de peperoni, cebollin, aceitunas negras y perejil</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Editar
                            <i class="material-icons left">edit</i>
                        </a>
                    </div>
                    <div class="card-action">
                        <a href="#">Eliminar
                            <i class="material-icons left">delete</i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img img src="../static/img/background3.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>pizza LE PEPERONE</p>
                        <p>pizza de peperoni, cebollin, aceitunas negras y perejil</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Editar
                            <i class="material-icons left">edit</i>
                        </a>
                    </div>
                    <div class="card-action">
                        <a href="#">Eliminar
                            <i class="material-icons left">delete</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



{%endblock%}