{% extends "layout.html" %} 
{% block content %}
    <div class="section"><!--#eeeeee-->
        <div class="row" style="border-bottom: 5px orange solid">
        {%if cliente%}
        <form name='form1' action="/pedidos" method="POST">
            <input style="margin-left:85%; margin-top:3%; background:#757575" class="btn btn-lg btn-warning" type="submit" id='btnPedidos' name='btnPedidos' value="Ver mis pedidos">
        </form>
        {%endif %}
        <form name='form1' action="/agregarDatos" method="POST">
        {%if user_ != null%}
            {%for x in user%}
                <div class="col s5 margin-top:3%; text-align:center;">
                {% if x.Persona.fotografia == '' or x.Persona.fotografia == '-' %}
                    <div><img src="../static/img/perfil.jpg" id="img" style="width:60%; height:60%; border-radius:50%; margin-left:22%"></div>
                {%endif%}
                {% if x.Persona.fotografia != '-' %}
                    <div><img src="{{x.Persona.fotografia}}" id="img" style="width:60%; height:60%; border-radius:50%; margin-left:22%"></div>
                {%endif%}
                        <div class="file-field input-field">
                            <div class="btn red lighten-2" >
                                <span>Actualizar</span>
                                <input type="file" id ="txtFoto" name="txtFoto" onchange="base64(this)" />
                                <div class="hide">
                                    <textarea id="textarea" name ="textarea" class="materialize-textarea" data-length="120" value="">{{x.Persona.fotografia}}</textarea>
                                </div>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text"/>
                            </div>
                        </div>
                </div>
                <div class="col s7" style="margin-top:3%;">
                    <div class="row">
                        <div class="input-field col s4">
                            <input id="txtNombre" type="text" class="validate" name="txtNombre" value="{{user_.name}}" required>
                            <label for="last_name">Nombre</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="txtApellidoP" type="text" name="txtApellidoP" class="validate" value="{{x.Persona.apellidoP}}" required>
                            <label for="last_name">Apellido Paterno</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="txtApellidoM" type="text" name="txtApellidoM" class="validate" value="{{x.Persona.apellidoM}}" required>
                            <label for="last_name">Apellido Materno</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s7">
                            <input id="email" type="email" class="validate" name="txtEmail" value="{{user_.email}}" required>
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field col s5">
                            <input id="txtUsuario" type="text" name="txtTelefono" class="validate" value="{{x.Persona.telefono}}" required>
                            <label for="password">Teléfono</label>
                        </div>
                    </div>
                {%endfor%}
            {%endif%}   
                <div class="row">
                    <div class="input-field col s8">
                        <input style="margin-left:90%; margin-top:3%; background:#757575" class="btn btn-lg btn-warning" type="submit" id='btnDatos' name='btnActualizarDatos' value="Actualizar mi información">
                    </div>
                    <div class="input-field col s4">
                        
                    </div>
                </div>
                </div>
            </div>
            </form>
            <div class="row" id="agregarDireccion">
            <h4>Direcciones Registradas</h4>
            <form name='form1' action="/agregarDirección" method="POST">
                <div class="input-field col s4">
                    <input id="txtCalle" name="txtCalle" type="text" class="validate" required>
                    <label for="password">Calle</label>
                </div>
                <div class="input-field col s4">
                    <input id="txtCalle" name="txtColonia" type="text" class="validate" required>
                    <label for="password">Colonia</label>
                </div>
                <div class="input-field col s4">
                    <input id="txtCiudad" name="txtDescripcion" type="text" class="validate" required>
                    <label for="password">Descripción</label>
                </div>
                <div class="input-field col s4">
                    <input id="txtNumero" name="txtNumInt" type="text" class="validate" required>
                    <label for="password">Número Interior</label>
                </div>
                <div class="input-field col s4">
                    <input id="txtNumero" name="txtNumExt" type="text" class="validate" required>
                    <label for="password">Número Exterior</label>
                </div>
                <div class="input-field col s4">
                    <input id="txtCiudad" name="txtCP" type="text" class="validate" required>
                    <label for="password">C.P</label>
                </div>
                <div class="input-field col s1" style="margin-left:-10%; margin-top:-1%">
                    <input style="background:#1ADE97; margin-left:160%" class="btn  teal accent-3" type="submit" id='btnDatos' name='btnAgregarDir' value="Añadir">
                </div>
            </form>
                <div class="row">
                    <table class="responsive-table highlight centered">
                <thead style="color:#900C3F">
                    <tr>
                        <th>Calle</th>
                        <th>Colonia</th>
                        <th>Número Int</th>
                        <th>Número Ext</th>
                        <th>C.P</th>
                        <th>Descripción</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dir in direcciones %}
                        <tr>
                            <td>{{dir.calle}}</td>
                            <td>{{dir.colonia}}</td>
                            <td>{{dir.numInt}}</td>
                            <td>{{dir.numExt}}</td>
                            <td>{{dir.cp}}</td>
                            <td>{{dir.descripcion}}</td>

                            <td>
                                <a onclick="confirmarEliminacion('{{dir.id}}')" id="deleteBtn" class="waves-effect waves-light red btn modal-trigger"> <i class="material-icons">delete</i></a>
                                <a onclick="modal('{{dir.id}}','{{dir.calle}}','{{dir.colonia}}','{{dir.numInt}}','{{dir.numExt}}','{{dir.cp}}', '{{dir.descripcion}}')"
                                        class="waves-effect waves-light blue btn modal-trigger" href="#modal1"> <i
                                        class="material-icons">edit</i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
                </div>
            <div>
    </div>
    </div>
    <!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Actualizar Dirección</h4>
            <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">description</i>
                <input class="validate" name="txtCalle_" id="txtCalle_" type="text" placeholder="Calle">
                <label for="desc" data-error="wrong" data-success="right">Calle</label>
            </div>
        
            <div class="input-field col s6">
                <i class="material-icons prefix">description</i>
                <input class="validate" name="txtColonia_" id="txtColonia_" type="text" placeholder="Colonia">
                <label for="desc" data-error="wrong" data-success="right">Colonia</label>
            </div>

            <div class="input-field col s6">
                <i class="material-icons prefix">class</i>
                <input class="validate" name="txtDescripcion_" id="txtDescripcion_" type="text" placeholder="Descripción">
                <label for="text" data-error="wrong" data-success="right">Descripción</label>
            </div>
        
        
            <div class="input-field col s6">
                <i class="material-icons prefix">attach_money</i>
                <input class="validate" name="txtNumInt_" id="txtNumInt_" type="text" placeholder="Num.interior">
                <label for="text" data-error="wrong" data-success="right">Número Int</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">shopping_basket</i>
                <input class="validate" name="txtNumExt_" id="txtNumExt_" type="text" placeholder="Num.Exterior">
                <label for="text" data-error="wrong" data-success="right">Número Ext</label>
            </div>
        
        
            <div class="input-field col s6">
                <i class="material-icons prefix">date_range</i>
                <input class="validate" type="text" id="txtCP_" name="txtCP_" class="datepicker" placeholder="C.P">
                <label for="text" data-error="wrong" data-success="right">C.P</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-light red btn modal-close" id="closebtn" type="submit" name="action">
            <i class="material-icons">cancel</i>
        </a>
        <a class="waves-effect waves-light green btn modal-trigger" id="updateBtn" type="submit" name="action">
            <i class="material-icons">send</i>
        </a>
    </div>
</div>
    
    <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var options = {}
        var instances = M.Modal.init(elems, options);
    });

    $(document).ready(function () {
        $('ul.tabs').tabs();
    });
        var confirmarEliminacion = (idDireccion) => {
        swal({
            title: "¿Quieres borrar esta dirección?",
            text: "No se podrá deshacer esta acción",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {
                swal("Eliminada con éxito", {
                    icon: "success",
                });
                window.location.href = 'eliminarDireccion?id=' + idDireccion;
            } else {
            }
        });
    };

    function modal(idDireccion, calle, colonia, numeroInt, numeroExt, cp, descripcion) {
        $("#txtCalle_").val(calle);
        $("#txtColonia_").val(colonia);
        $("#txtDescripcion_").val(descripcion);
        $("#txtNumInt_").val(numeroInt);
        $("#txtNumExt_").val(numeroExt);
        $("#txtCP_").val(cp);

        $("#updateBtn").click(function () {
            swal({
                title: "¿Quieres actualizar esta dirección?",
                text: "No se podrá deshacer esta acción",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    window.location.href = 'modificarDirección?id=' + idDireccion + '&calle=' + $("#txtCalle_").val()
                    + '&colonia=' + $("#txtColonia_").val() + '&numeroInt=' + $("#txtNumInt_").val() + '&numeroExt=' + $("#txtNumExt_").val() + '&cp='
                    + $("#txtCP_").val() + '&descripcion=' +  $("#txtDescripcion_").val();
                } else {
                }
            });
            $(".modal").removeClass("is-active");
        });
    }

    var img64 = null;
    var elemento = document.createElement("iframe");
    function base64(element) {
    var file = element.files[0];
    var reader = new FileReader();
    reader.onloadend = function () {
        img64 = reader.result;
        $("#textarea").val(img64);
    }
    reader.readAsDataURL(file);
    }

    function ponerValor(){
        img= $("#txtCalle_").val();
        $("#textarea").val(img);
    }

    </script>
{% endblock %}