{% extends "layout.html" %} 
{% block content %}
    <div class="container">
        <div class="row">
        <form action="#">
            <div class="row" style="margin-left:83%; margin-top:3%"><a style="background:#ef5350" class="btn" href="http://127.0.0.1:5000/pedidosDia">Ver mis pedidos</a></div>
            <div class="col s5 margin-top:3%; text-align:center;">
                <div><img src="../static/img/perfil.jpg" style="width:60%; height:60%; border-radius:50%; margin-left:22%"></div>
                    <div class="file-field input-field">
                        <div class="btn" style="background:#e57373">
                            <span>Actualizar</span>
                            <input type="file"/>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text"/>
                        </div>
                    </div>
            </div>
            <div class="col s7" style="margin-top:3%; border-left:#eeeeee solid;">
                <div class="row">
                    <div class="input-field col s4">
                        <input id="txtNombre" type="text" class="validate">
                        <label for="last_name">Nombre</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="txtApellidoPaterno" type="text" class="validate">
                        <label for="last_name">Apellido Paterno</label>
                    </div>
                     <div class="input-field col s4">
                        <input id="txtApellidoMaterno" type="text" class="validate">
                        <label for="last_name">Apellido Materno</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="txtUsuario" type="password" class="validate">
                        <label for="password">Usuario</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="txtContrasena" type="password" class="validate">
                        <label for="password">Contraseña</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8">
                        <select>
                            <option value="" disabled selected>Selecciona una opción</option>
                            <option value="1">Zaragoza #111 </option>
                            <option value="2">Panorámica #110</option>
                        </select>
                        <label>Dirección</label>
                    </div>
                    <div class="input-field col s4">
                        <a class="btn-floating red" id="btnAgregarDireccion"><i class="material-icons">edit</i></a>
                    </div>
                </div>
                </div>
            </div>
            <div class="row" style="margin-left:72%; margin-top:3%"><a style="background:#F3C807" class="btn">Actualizar mi información</a></div>
            <div class="row" id="agregarDireccion">
                <div class="input-field col s3">
                    <input id="txtCalle" type="password" class="validate">
                    <label for="password">Calle</label>
                </div>
                <div class="input-field col s3">
                    <input id="txtNumero" type="password" class="validate">
                    <label for="password">Número</label>
                </div>
                <div class="input-field col s3">
                    <input id="txtCiudad" type="password" class="validate">
                    <label for="password">Ciudad</label>
                </div>
                <div class="input-field col s2">
                    <input id="txtCiudad" type="password" class="validate">
                    <label for="password">C.P</label>
                </div>
                <div class="input-field col s1" style="margin-left:-10%">
                    <a style="background:#1ADE97; margin-left:160%" class="btn" id="btnAgregarUna">Agregar</a>
                </div>
                <div class="row">
                    <table>
                <thead style="color:#900C3F">
                    <tr>
                        <th>Calle</th>
                        <th>Número</th>
                        <th>Ciudad</th>
                        <th>C.P</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                     <tr>
                        <td>Zaragoza</td>
                        <td># 111</td>
                        <td>León Gto</td>
                        <td>37640</td>
                        <td><a style="background:#DE1F1A;" class="btn" id="btnAgregarUna">Eliminar</a></td>
                    </tr>
                    <tr>
                        <td>Panorámica</td>
                        <td># 110</td>
                        <td>León Gto</td>
                        <td>27430</td>
                        <td><a style="background:#DE1F1A;" class="btn" id="btnAgregarUna">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
                </div>
            <div>
        </form>
    </div>
    </div>
    
{% endblock %}