{% extends "layout.html" %}
{% block title %}Perfil {%endblock %}
{% block content %}
<!--#eeeeee-->
<div class="row">
    <br>
    <div class="col s3">
        <nav class="orange lighten-1">
            <div class="nav-wrapper">
                <div class="col s12 ">
                    <a href="{{ url_for('main.index')}}" class="breadcrumb">Inicio</a>
                    <a href="#!" class="breadcrumb">Perfil</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="col s12">
        <br>
        <form name='form1' action="/agregarDatos" method="POST">
            {%if user_ != null%}
            {%for x in user%}
            <script>
                function cargfo(foto) {
                    $('#textarea').val(foto);
                }

            </script>
            <div class="col s3 center">
                {% if not x.Persona.fotografia%}

                <img src="../static/img/perfil.jpg" id="imgFoto2" style="width:60%; height:80%; border-radius:70%;">
                <div class="btn-floating btn-large waves-effect waves-light red file-field">
                    <span><i class="material-icons">add</i></span>
                    <input type="file" accept="image/x-png,image/gif,image/jpeg" id="txtFoto" name="txtFoto" onchange="cargarFotoUsuario();" />
                </div>
                <div class="row" hidden>
                    <div class="input-field col s12">
                        <textarea rows="4000" cols="50000000" value="{{x.Persona.fotografia}}" name="textarea"
                            id="textarea" class="materialize-textarea"></textarea>
                    </div>
                </div>
                {%else%}
                <img src="data:image/jpeg;base64,{{x.Persona.fotografia}}" id="imgFoto2"
                    style="width:60%; height:80%; border-radius:70%;">
                <div class="btn-floating btn-large waves-effect waves-light red file-field">
                    <span><i class="material-icons">add</i></span>
                    <input type="file" id="txtFoto" name="txtFoto" onchange="cargarFotoUsuario();" />

                </div>
                <div class="row" hidden>
                    <div class="input-field col s12">
                        <textarea rows="4000" cols="50000000" value="{{x.Persona.fotografia}}" name="textarea"
                            id="textarea" class="materialize-textarea"></textarea>
                    </div>
                </div>


                {%endif%}
            </div>
            <div class="col s9">
                <div class=" row">
                    <div class="input-field col s4">
                        <input id="txtNombre" type="text" class="validate" onkeypress="return check(event)" name="txtNombre" value="{{x.Persona.nombre}}"
                            required>
                        <label for="last_name">Nombre</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="txtApellidoP" type="text" onkeypress="return check(event)" name="txtApellidoP" class="validate"
                            value="{{x.Persona.apellidoP}}" required>
                        <label for="last_name">Apellido Paterno</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="txtApellidoM" type="text" onkeypress="return check(event)" name="txtApellidoM" class="validate"
                            value="{{x.Persona.apellidoM}}" required>
                        <label for="last_name">Apellido Materno</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s7">
                        <input readonly id="email" type="email" onkeypress="return checkEmail(event)" class="validate" name="txtEmail" value="{{user_.email}}"
                            required>
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field col s5">
                        <input onkeypress="return checkTelefono(event)" id="txtUsuario" type="text" name="txtTelefono" class="validate"
                            value="{{x.Persona.telefono}}" required>
                        <label for="password">Teléfono</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8">
                        <input style="margin-left:90%; margin-top:3%; background:#757575" class="btn btn-lg btn-warning"
                            type="submit" id='btnDatos' name='btnActualizarDatos' value="Actualizar mi información">
                    </div>
                </div>
            </div>
            {%endfor%}
            {%endif%}
        </form>
    </div>
</div>
<hr>
{%if cliente %}
<div class="row" id="agregarDireccion">
    <div class="col s12">
        <h5>Registrar nueva dirección</h5>
        <form name='form1' action="/agregarDirección" method="POST">
            <div class="input-field col s4">
                <input id="txtCalle" onkeypress="return check(event)" name="txtCalle" type="text" class="validate" required>
                <label for="password">Calle</label>
            </div>
            <div class="input-field col s4">
                <input id="txtCalle" onkeypress="return check(event)" name="txtColonia" type="text" class="validate" required>
                <label for="password">Colonia</label>
            </div>
            <div class="input-field col s4">
                <input id="txtCiudad" onkeypress="return check(event)" name="txtDescripcion" type="text" class="validate" required>
                <label for="password">Descripción</label>
            </div>
            <div class="input-field col s4">
                <input id="txtNumero" onkeypress="return checkDomicilio(event)" name="txtNumInt" type="text" class="validate" required>
                <label for="password">Número Interior</label>
            </div>
            <div class="input-field col s4">
                <input id="txtNumero"  onkeypress="return checkDomicilio(event)" name="txtNumExt" type="text" class="validate" required>
                <label for="password">Número Exterior</label>
            </div>
            <div class="input-field col s4">
                <input id="txtCiudad" onkeypress="return checkNumero(event)" name="txtCP" type="text" class="validate" required>
                <label for="password">C.P</label>
            </div>
            <div class="input-field col s1" style="margin-left:-10%; margin-top:-1%">
                <input style="background:#1ADE97; margin-left:160%" class="btn  teal accent-3" type="submit"
                    id='btnDatos' name='btnAgregarDir' value="Añadir">
            </div>
        </form>
    </div>

    <div class="row">

        <div class="col s12">
            <hr>
            <h5>Direcciones Registradas</h5>
            <table class="responsive-table highlight centered">
                <thead style="color:#900C3F">
                    <tr>
                        <th>Calle</th>
                        <th>Colonia</th>
                        <th>Número Int</th>
                        <th>Número Ext</th>
                        <th>C.P</th>
                        <th>Descripción</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dir in direcciones %}
                    <tr>
                        <td>{{dir.calle}}</td>
                        <td>{{dir.colonia}}</td>
                        <td>{{dir.numInt}}</td>
                        <td>{{dir.numExt}}</td>
                        <td>{{dir.cp}}</td>
                        <td>{{dir.descripcion}}</td>

                        <td>
                            <a onclick="confirmarEliminacionPerfil('{{dir.id}}')" id="deleteBtn"
                                class="waves-effect waves-light red btn modal-trigger"> <i
                                    class="material-icons">delete</i></a>
                            <a onclick="modalPerfil('{{dir.id}}','{{dir.calle}}','{{dir.colonia}}','{{dir.numInt}}','{{dir.numExt}}','{{dir.cp}}', '{{dir.descripcion}}')"
                                class="waves-effect waves-light blue btn modal-trigger" href="#modal1"> <i
                                    class="material-icons">edit</i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{%endif%}
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Actualizar Dirección</h4>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">description</i>
                <input class="validate" name="txtCalle_" onkeypress="return check(event)" id="txtCalle_" type="text" placeholder="Calle">
                <label for="desc" data-error="wrong" data-success="right">Calle</label>
            </div>

            <div class="input-field col s6">
                <i class="material-icons prefix">description</i>
                <input class="validate" name="txtColonia_" onkeypress="return check(event)" id="txtColonia_" type="text" placeholder="Colonia">
                <label for="desc" data-error="wrong" data-success="right">Colonia</label>
            </div>

            <div class="input-field col s6">
                <i class="material-icons prefix">class</i>
                <input class="validate" name="txtDescripcion_" onkeypress="return check(event)" id="txtDescripcion_" type="text"
                    placeholder="Descripción">
                <label for="text" data-error="wrong" data-success="right">Descripción</label>
            </div>


            <div class="input-field col s6">
                <i class="material-icons prefix">attach_money</i>
                <input class="validate" name="txtNumInt_"  onkeypress="return checkDomicilio(event)" id="txtNumInt_" type="text" placeholder="Num.interior">
                <label for="text" data-error="wrong" data-success="right">Número Int</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">shopping_basket</i>
                <input class="validate" name="txtNumExt_"  onkeypress="return checkDomicilio(event)" id="txtNumExt_" type="text" placeholder="Num.Exterior">
                <label for="text" data-error="wrong" data-success="right">Número Ext</label>
            </div>


            <div class="input-field col s6">
                <i class="material-icons prefix">date_range</i>
                <input class="validate" type="text"  onkeypress="return checkNumeros(event)" id="txtCP_" name="txtCP_" class="datepicker" placeholder="C.P">
                <label for="text" data-error="wrong" data-success="right">C.P</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-light red btn modal-close" id="closebtn" type="submit" name="action">
            <i class="material-icons">cancel</i>
        </a>
        <a class="waves-effect waves-light green btn modal-trigger" id="updateBtn" type="submit" name="action">
            <i class="material-icons">send</i>
        </a>
    </div>
</div>
{% endblock %}
<!-- Modal Structure -->