{% extends "layout.html" %}
{% block content %}

</br></br></br></br>
<a href="registrarProveedor" class="btn btn-danger" style="background: #1ADE97;"><i
        class="icon-remove icon-white"></i>Añadir</a>
<table class="responsive-table">
    <thead>
        <tr class="tr-head">
            <th style="color: #900C3F;">Empresa</th>
            <th style="color: #900C3F;">Direccion</th>
            <th style="color: #900C3F;">Email</th>
            <th style="color: #900C3F;">Telefono</th>
            <th style="color: #900C3F;">Representante</th>
            <th style="color: #900C3F;">Eliminar</th>
            <th style="color: #900C3F;">Modificar</th>
        </tr>
    </thead>
    <tbody>
        {%for proveedor in proveedores %}  
        <tr>
            <td>{{proveedor.empresa}}</td>
            <td>{{proveedor.direccionPro}}</td>
            <td>{{proveedor.email}}</td>
            <td>{{proveedor.representante}}</td>
            <td>{{proveedor.telefono}}</td>
            <td><a onclick="confirmarEliminacion('{{proveedor.idProveedor}}')"
            class="btn btn-danger"><i class="icon-remove icon-white"></i>Eliminar</a></td>
            <td><a href="modificarProveedor?id={{proveedor.idProveedor}}"
            class="btn btn-warning"><i class="icon-pencil icon-white"></i>Modificar</a></td>
        </tr>
        {%endfor%}
        {% if proveedores|count == 0 %}
        <tr colspan="6">
            <td colspan="6">
                No hay datos disponibles
            </td>
        </tr>
        {%endif%}
    </tbody>
</table>
</br></br></br></br>
</br></br></br></br>
</br></br></br></br>
<script>

    var confirmarEliminacion = (id) => {
        swal({
            title: "¿Quieres borrar al proveedor  ?",
            text: "Una vez eliminado no podrás recuperar la información",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {

            if (willDelete) {
                window.location.href = 'eliminarProveedor?idProveedor=' + id;
            } else {
            }
        });

    };

</script>
{% endblock %}