{% extends "layout.html" %} {% block content %}

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-3">Registrar Receta</h1>
            <div class="row center">
                <h5 class="header col s12 white-text text-darken-2">Las pizzas nuevas son lo mejor</h5>
            </div>

        </div>
    </div>
    <div class="parallax"><img src="../static/img/background1.jpg" alt="Unsplashed background img 1"></div>
</div>
<div class="section">
    <!--   Icon Section   -->
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="name" type="text" class="validate">
                    <label for="name">Nombre de la pizza</label>
                </div>
                <div class="input-field col s6">
                    <input id="tamaño" type="text" class="validate">
                    <label for="tamaño">Tamaño</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="disabled" type="text" class="validate">
                    <label for="disabled">Ingredientes</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>File</span>
                            <input type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <div class="card-image">
                        <center><img img src="../static/img/background3.jpg" height="500" width="500"></center>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}