{% extends "layout.html" %}
{% block title %}Detalle pedido {%endblock %}
{% block content %}
<!--#eeeeee-->
<div class="row">
    <br>
    <div class="col s3">
        <nav class="orange lighten-1">
            <div class="nav-wrapper">
                <div class="col s12 ">
                    <a href="{{ url_for('main.index')}}" class="breadcrumb">Inicio</a>
                    <a href="{{ url_for('main.pedidos')}}" class="breadcrumb">Pedidos</a>
                    <a href="#!" class="breadcrumb">Detalle</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="col s12">
        <br>
        <h4>Detalle de pedido</h4>
        <div id="test-swipe-1">
            <div class="section">
                <table class="table table-striped table-bordered centered" id="datos">
                    <thead style="color:#900C3F">
                        <tr class="tr-head">
                            <th>Sabor</th>
                            <th>Cantidad</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for i in arregloDetalle%}
                        <tr>
                            <td>{{i.sabor}}</td>
                            <td>{{i.cantidad}}</td>
                            <td>{{i.subtotal}}</td>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock%}