{% extends "layout.html" %}
{% block title %}Menú {%endblock %}
{% block content %}

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center white-text">PizzaDev</h1>
            <div class="row center">
                <h5 class="header col s12 white-text text-darken-2">Las mejores pizzas de la comunidad en este menu.
                </h5>
            </div>
            <br><br>
        </div>
    </div>
    <div class="parallax"><img src="../static/img/background7.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="section">

    <!--   Icon Section   -->
    {% for x in menu %}
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img img height="250" width="150" src="data:image/jpeg;base64,{{x.foto}}">
                    <span class="card-title orange darken-4">{{x.nombre}}</span>
                </div>
                <div class="card-content">
                    <h5>Descripción</h5>
                    <p>{{x.descripcion}}</p>
                    <h5>Ingredientes</h5>
                    <p>{{x.ingrediente}}</p>
                    <h5 class="orange-text">${{x.costo}} MXN</h5>
                </div>
                <div class="card-action">
                    <a href="#">Agregar al carrito
                        <i class="material-icons left">add</i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{%endblock%}