{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="section">
        <div class="row center-align">
            <div class="col s12 ">
                <h1>Detalle Venta</h1>
                <div class="col s4">
                    <h5 class="left-align">Ticket</h5>
                    <p class="left-align">
                        N°: 60595d413a85cf8840ebddf0
                        <br>
                        Fecha: 2021-03-24
                        <br>
                        Atendió: Julio Bustamante
                    </p>
                </div>
                <div class="col s4">
                    <h5>Cliente</h5>
                    <p>
                        Edgar Hermosillo
                    </p>
                </div>
                <div class="col s4">
                    <h5>Total</h5>
                    <h4>
                        $279
                    </h4>
                </div>
            </div>
            <div class="col s12">
                <table class="responsive-table highlight centered">
                    <thead>
                        <tr>
                            <th>Cantidad</th>
                            <th>Pizza</th>
                            <th>Tamaño</th>
                            <th>Precio Pizza</th>
                            <th>Subtotal</th>
                            <th>Extras</th>
                            <th>Precion Extras</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2</td>
                            <td>Peperoni</td>
                            <td>Gr</td>
                            <td>$79</td>
                            <td>$158</td>
                            <td>
                                <p>Queso ...$15</p>
                                <p>Atun ...$20</p>
                            </td>
                            <td>$35</td>
                            <td>$193</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Peperoni</td>
                            <td>Gr</td>
                            <td>$79</td>
                            <td>$158</td>
                            <td>
                                <p>Queso ...$15</p>
                                <p>Atun ...$20</p>
                            </td>
                            <td>$35</td>
                            <td>$193</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Peperoni</td>
                            <td>Gr</td>
                            <td>$79</td>
                            <td>$158</td>
                            <td>
                                <p>Queso ...$15</p>
                                <p>Atun ...$20</p>
                            </td>
                            <td>$35</td>
                            <td>$193</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}