{% extends "layout.html" %}
{% block title %}Inventario {%endblock %}

{% block content %}

<div class="row">
    <br>
    <div class="col s3">
        <nav class="orange lighten-1">
            <div class="nav-wrapper">
                <div class="col s12 ">
                    <a href="{{ url_for('main.index')}}" class="breadcrumb">Inicio</a>
                    <a href="#!" class="breadcrumb">Inventario</a>
                </div>
            </div>
        </nav>
    </div>

    <div class="col s12">
        <br>
        <h4>Inventario - Materia Prima</h4>
        <ul id="tabs-swipe-demo teal lighten-1" class="tabs">
            <li class="tab col s4  "><a class="active" href="#test-swipe-1">Activos</a></li>
            <li class="tab col s4"><a href="#test-swipe-2">Inactivos</a></li>
            <li class="tab col s4"><a href="#test-swipe-3">Registro</a></li>
        </ul>
        <div id="test-swipe-1">
            <div class="section">
                <table class="responsive-table highlight centered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Categoria</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Fecha</th>
                            <th>Proveedor</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for x in matPr%}
                        <tr>
                            <td>
                                {{x.idMateriaPrima}}
                            </td>
                            <td>
                                {{x.nombre}}
                            </td>
                            <td>
                                {{x.descripcion}}
                            </td>
                            <td>
                                {{x.categoria}}
                            </td>
                            <td>
                                ${{x.precio}}
                            </td>
                            <td>
                                {{x.cantidad}} {{x.unidad}}
                            </td>
                            <td>
                                {{x.fecha}}
                            </td>
                            <td>
                                {{x.proveedor.empresa}}
                            </td>
                            <td>
                                <a onclick="confirmarEliminacionMatPrim('{{x.idMateriaPrima}}','{{x.nombre}}','{{x.descripcion}}','{{x.categoria}}','{{x.precio}}', '{{x.cantidad}}','{{x.proveedor.idProveedor}}','{{x.unidad}}')"
                                    class="waves-effect waves-light red btn modalMatPrim-trigger"> <i
                                        class="material-icons">delete</i></a>
                                <a onclick="modalMatPrim('{{x.idMateriaPrima}}','{{x.nombre}}','{{x.descripcion}}','{{x.categoria}}','{{x.precio}}', '{{x.cantidad}}','{{x.proveedor.idProveedor}}','{{x.unidad}}')"
                                    class="waves-effect waves-light blue btn modal-trigger" href="#modal1"> <i
                                        class="material-icons">edit</i></a>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="test-swipe-2">
            <table class="responsive-table highlight centered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Categoria</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Fecha</th>
                        <th>Proveedor</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {%for x in matPrIn%}
                    <tr>
                        <td>
                            {{x.idInventario}}
                        </td>
                        <td>
                            {{x.nombre}}
                        </td>
                        <td>
                            {{x.descripcion}}
                        </td>
                        <td>
                            {{x.categoria}}
                        </td>
                        <td>
                            ${{x.precio}}
                        </td>
                        <td>
                            {{x.cantidad}} {{x.unidad}}
                        </td>
                        <td>
                            {{x.fecha}}
                        </td>
                        <td>
                            {{x.proveedor.empresa}}
                        </td>
                        <td>
                            <a onclick="confirmarActivacionMatPri('{{x.idMateriaPrima}}','{{x.nombre}}','{{x.descripcion}}','{{x.categoria}}','{{x.precio}}', '{{x.cantidad}}','{{x.proveedor.idProveedor}}','{{x.unidad}}')"
                                class="waves-effect waves-light green btn modalMatPrim-trigger"> <i
                                    class="material-icons">check</i></a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        <div id="test-swipe-3">
            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <div class="row">
                        <div class="col s6">
                            <div class="card" style="background:black;">
                                <div class="card-image imagenes">
                                    <img alt="Unsplashed background img 2" src="../../static/img/background16.jpg"
                                        height="465px">
                                    <span class="card-title orange darken-4">Registrar nueva materia prima</span>
                                </div>
                            </div>
                        </div>
                        <div class="col s6 ">
                            <div class="card">
                                <div class="card-content">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="orange-text text-darken-4 material-icons prefix">assignment</i>
                                            <input placeholder="Nombre" class="validate" name="nombreMateria1" id="nombreMateria1" type="text">
                                            <label for="text" data-error="wrong" data-success="right">Nombre</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        
                                        <div class="input-field col s6">
                                            <i class="orange-text text-darken-4 material-icons prefix">description</i>
                                            <input placeholder="Descripción" class="validate" name="descMatPrim1"
                                                id="descMatPrim1" type="text">
                                            <label for="desc" data-error="wrong"
                                                data-success="right">Descripción</label>
                                        </div>

                                        <div class="input-field col s6">
                                            <i class="orange-text text-darken-4 material-icons prefix">class</i>
                                            <input placeholder="Categoria" class="validate" name="categoria11"
                                                id="categoria11" type="text">
                                            <label for="text" data-error="wrong" data-success="right">Categoria</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <i class="orange-text text-darken-4 material-icons prefix">attach_money</i>
                                            <input placeholder="Precio" class="validate" name="precio11" id="precio11"
                                                type="number">
                                            <label for="text" data-error="wrong" data-success="right">Precio</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <i
                                                class="orange-text text-darken-4 material-icons prefix">shopping_basket</i>
                                            <input placeholder="Cantidad" class="validate" name="cantidadMat1"
                                                id="cantidadMat1" type="number">
                                            <label for="text" data-error="wrong" data-success="right">Cantidad</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">

                                            <select id="unidadM1" class="validate">
                                                <option id="unidadMat" value="" disabled selected>Elegir...</option>
                                                <optgroup label="Solidos">
                                                    <option class="red" value="gr">Gramos (gr)</option>
                                                    <option class="red" value="Kg">Kilogramos (Kg)</option>
                                                </optgroup>

                                                <optgroup label="Líquidos">
                                                    <option class="red" value="ml">Mililitros(ml)</option>
                                                    <option class="red" value="L">Litros (L)</option>
                                                </optgroup>
                                                <optgroup label="Otros">
                                                    <option class="red" value="pz">Pieza (pz)</option>
                                                </optgroup>

                                            </select>
                                            <label>Unidad</label>
                                        </div>
                                        <div class="input-field col s6">

                                            <select id="proveedorMat1" class="validate">
                                                <option value="" disabled selected>Elegir...</option>
                                                {%for xs in prov%}
                                                <option class="red" value="{{xs.idProveedor}}">{{xs.empresa}}
                                                </option>
                                                {%endfor%}
                                            </select>
                                            <label>Proveedor</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <button onclick="confirmarInsercionMatPri()" class="btn waves-effect waves-red orange accent-4 btn-large"
                                                type="submit" name="action">Enviar
                                                <i class="material-icons right">send</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modalMatPrim Structure -->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Actualizar Materia Prima</h4>
        <div class="row">
            <input class="validate" style="display: none;" name="idMateriaPrima1" id="idMateriaPrima1" type="text">
            <div class="input-field col s12">
                <i class="orange-text text-darken-4 material-icons prefix">assignment</i>
                <input placeholder="Nombre" class="validate" name="nombreMateria" id="nombreMateria" type="text">
                <label for="text" data-error="wrong" data-success="right">Nombre</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <i class="orange-text text-darken-4 material-icons prefix">description</i>
                <input placeholder="Descripción" class="validate" name="descMatPrim" id="descMatPrim" type="text">
                <label for="desc" data-error="wrong" data-success="right">Descripción</label>
            </div>

            <div class="input-field col s6">
                <i class="orange-text text-darken-4 material-icons prefix">class</i>
                <input placeholder="Categoria" class="validate" name="categoria1" id="categoria1" type="text">
                <label for="text" data-error="wrong" data-success="right">Categoria</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <i class="orange-text text-darken-4 material-icons prefix">attach_money</i>
                <input placeholder="Precio" class="validate" name="precio1" id="precio1" type="number">
                <label for="text" data-error="wrong" data-success="right">Precio</label>
            </div>
            <div class="input-field col s6">
                <i class="orange-text text-darken-4 material-icons prefix">shopping_basket</i>
                <input placeholder="Cantidad" class="validate" name="cantidadMat" id="cantidadMat" type="number">
                <label for="text" data-error="wrong" data-success="right">Cantidad</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">

                <select id="unidadM" class="validate">
                    <option id="unidadMat" value="" disabled selected>Elegir...</option>
                    <optgroup label="Solidos">
                        <option class="red" value="gr">Gramos (gr)</option>
                        <option class="red" value="Kg">Kilogramos (Kg)</option>
                    </optgroup>

                    <optgroup label="Líquidos">
                        <option class="red" value="ml">Mililitros(ml)</option>
                        <option class="red" value="L">Litros (L)</option>
                    </optgroup>
                    <optgroup label="Otros">
                        <option class="red" value="pz">Pieza (pz)</option>
                    </optgroup>

                </select>
                <label>Unidad</label>
            </div>
            <div class="input-field col s6">

                <select id="proveedorMat" class="validate">
                    <option value="" disabled selected>Elegir...</option>
                    {%for xs in prov%}
                    <option class="red" value="{{xs.idProveedor}}">{{xs.empresa}}</option>
                    {%endfor%}
                </select>
                <label>Proveedor</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-light red btn modal-close" id="closebtn" type="submit" name="action">
            <i class="material-icons">cancel</i>
        </a>
        <a class="waves-effect waves-light green btn modal-trigger" id="updateBtn" type="submit" name="action">
            <i class="material-icons">send</i>
        </a>
    </div>
</div>
{%endblock%}